﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="DWI.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 310px;
        }
    </style>
          <style type="text/css">

          .auto-style1 {
              font-size:xx-large;
          }

          .auto-style2 {
              font-size:xx-large;
              font-family: "Century Gothic";
          }

          .button {
              background-color: white; /* Green */
              border: 1px solid green;
              color: lightblue;
              padding: 16px 26px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 24px;
              font-family:'Century Gothic';
              cursor: pointer;
              float: left;
              border-style:hidden;
          }
  
          .button:hover {
              background-color: #28D1D8;
          }

  </style>


</head>
<body style="width: 620px">
    <form id="form1" runat="server">
        <div>
  <table style="width: 100%; background-color: #009999; color: #FFFFFF;">
      <tr>
          <td colspan="3">Login</td>
      </tr>
      <tr>
          <td class="auto-style1">Usuario</td>
          <td>
              <asp:TextBox ID="TextBox1" runat="server" Width="236px"></asp:TextBox>
          </td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td class="auto-style1">Contraseña</td>
          <td>
              <asp:TextBox ID="TextBox2" runat="server" Width="236px"></asp:TextBox>
          </td>
          <td>&nbsp;</td>
      </tr>
      <tr>
    <td></td>
    <td>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Login"  cssclass="button" />
          </td>
    <td>
        &nbsp;</td>
</tr>
  </table>
        </div>
    </form>
  
</body>
</html>
